soa/src/main/java/org/tavian/scc/soa/models/Acknowledgement.xml

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://localhost/schema/acknowledgement"
    xmlns:tns="http://localhost/schema/acknowledgement"
    elementFormDefault="qualified">

    <xsd:element name="acknowledgement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="intentUserId" type="xsd:int"/>
                <xsd:element name="msgId" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>

